<div class="home-section home-font">
  <div class="game-icon">
    <i class="fas fa-gamepad fa-5x"></i><div class="logo">PythonGames</div>
  </div>

  <main>
    <article>
      <p class="main">PythonGames is a website, which use Python language as a games code. Python uses Brython to display games on the screen.
        <a href="https://brython.info/" target="_blank">Brython</a> is a library, which replaces Python code into JavaScript.
        Frontend is made in Angular. Angular is a platform and framework for building client
        applications in HTML and TypeScript. It is written in TypeScript also. TypeScript is typed
        language, which is compiled to JavaScript directly. PostgreSQL is used as a object-relation database.
        All codes and files has been posted on GitHub as a
        <a href="https://github.com/mobetkal/pythonWebGames" target="_blank">
          <span><i class="fab fa-github"></i></span>pen Source.
        </a>
      </p>

      <p class="main">In our application we have the option of registration an account. After that we can log in to
        service. You have a choice to play games, all of them are located in 'Games' on the navbar. After the end
        of each game, website sends a message to the database, which contains our score in the game.
        The best scores of each game are located in "Statistics".<br/> This is demo application, which can be extend by
        every developer.
      </p>
    </article>
  </main>
</div>
