<div class="start-section">
    <input type="button" value="LOAD GAME" class="game-button" onclick="location.reload()">
</div>
<div class="game">
    <canvas id="stage" width="500" height="400" style="width: 100%"></canvas>
    <canvas id="score" width="500" height="100" style="width: 100%"></canvas>
</div>

<img src="assets/games/falling-balls/images/background.png" id="background" class="d-none">
<img src="assets/games/falling-balls/images/ball.png" id="ball" class="d-none">
<img src="assets/games/falling-balls/images/ball2.png" id="opponent" class="d-none">
<img src="assets/games/falling-balls/images/endgame.png" id="endgame" class="d-none">
